ipykernel==7.1.0
matplotlib==3.10.8
scikit-learn==1.8.0
pandas==2.3.3
dvc==3.66.1
pytest==9.0.2
gensim==4.4.0
nltk==3.9.2
transformers==4.57.6
torch==2.10.0
ipywidgets==8.1.8
scikit-image==0.26.0
torchvision==0.25.0
feast==0.59.0
great_expectations==1.11.2